html {
    background: url('background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 5%;

}
button{
    background-color: white;
    margin: 20px;
    padding:20px;
    width: 200px;
    font-size: 30px;
    font-family: Helvetica, sans-serif; 
    border-radius: 20px;
}
button:focus {
    outline: none;
    box-shadow: none;
  }

.display{
    text-align: center;
    color:white;
    text-shadow: 1px 1px black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.clicked{
    transform: scale(1.05);
    transition:0.1s;
}